body {
  font-family: sans-serif;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", "Avant Garde", "Century Gothic", "URW Gothic L", sans-serif;
  text-transform: uppercase;
  font-size: 300%;
  background-color: #9A0000;
  color: #fff;
  padding-left: 10pt;
}
li, p {
  padding: 5pt 10pt;
}
li {
  border-bottom: 1px solid #ddd;
}
a {
  font-weight: bold;
  color: #23557E;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #5C8FB3;
}
li a, li span {
  display: block;
}
li span {
  font-size: 85%;
}
p.footer {
  background-color: #eee;
  font-size: 85%;
}
